<!-- <div class="media" *ngFor="let f of followers">
  <img class="mr-3" [src]="f.avatar_url" alt="Generic placeholder image" />
  <div class="media-body">
    <h5 class="mt-0">{{ f.login }}</h5>
    {{ f.followers_url }}
  </div>
</div> -->

<div class="d-flex py-3" *ngFor="let f of followers">
  <div class="flex-shrink-0">
    <img [src]="f.avatar_url" alt="..." />
  </div>
  <div class="flex-grow-1 ms-3">
    <h5 class="mt-0">
      <a href="">{{ f.login }}</a>
    </h5>
    {{f.followers_url }}
  </div>
</div>
