<form class="" [formGroup]="form" (ngSubmit)="createPost(form)">
  <div class="form-group border rounded p-2 my-2">
    <input
    formControlName="postTitle"
    class="form-control my-2"
    placeholder="Post Title"
    type="text"
  /><input
    formControlName="postBody"
    class="form-control my-2"
    placeholder="Post Body"
    type="text"
  />
  <div class="alert alert-danger" *ngIf="postBody.valid">invalid input</div>
  <button [disabled]="form.invalid" class="btn btn-primary my-2">Submit</button>
  </div>
</form>
<div *ngFor="let post of posts">
  <ul class="list-group">
    <li class="list-group-item">
      <h5>{{ post.title }}</h5>
      <p>{{ post.body }}</p>
      <button class="btn btn-danger float-end btn-sm mx-1">Delete</button>
      <button class="btn btn-primary float-end btn-sm">Update</button>
    </li>
  </ul>
</div>
